*raw_data/
.*
!.gitignore
!.gitattributes
results/*/*
!results/*/outs/
results/*/outs/*
!results/*/outs/web_summary.html
logs
.Rproj.user
src/scripts/*html
results_vdj
test
src/scripts/*/*.html
*.zip
*.tar
*.sif
src/scripts/integrated_analysis
src/scripts/full_analysis.Rmd
src/scripts/Initial_processing.rmd
*.rds
docker/*/*.sif
files/210825_object